* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: aliceblue;
}

.profile-container {
    grid-area: profile;
}

.pieChart-container {
    grid-area: pieChart;
}

.graph-container {
    grid-area: graph;
}

.calendar {
    grid-area: calendar;
}

.heading-element {
    grid-area: heading;
}

.container {
    display: grid;
    grid-template-areas:
        'profile profile graph graph calendar calendar'
        'pieChart heading heading heading heading heading'
        'pieChart heading heading heading heading heading';
    height: 100vh;
    width: 100vw;
}

.profile-container {
    border: 2px solid gray;
    margin: 10px;
    height: 327px;
    width: 350px;
    text-align: center;
}

.profile img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    border: 3px solid gray;
    padding: 3px;
}

.profile h1 {
    font-size: 20px;
    font-weight: 550;
    padding: 5px 0;
}

.profile h2 {
    font-size: 21px;
    font-weight: 550;
    padding-bottom: 8px;
}

.profile button {
    padding: 10px 15px;
    background-color: red;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.pieChart-container {
    margin: 10px;
    height: 362px;
    width: 350px;
    text-align: center;
    border: 2px solid gray;
}

.calendar {
    border: 2px solid gray;
    margin: 10px;
    height: 320px;
    width: 350px;
}

.calendar img {
    height: 320px;
    width: 350px;
    padding: 10px;
}

.graph {
    height: 300px;
    width: 700px;
    margin-left: 85px;
    margin-bottom: 17px;
}

.graph-container {
    border: 2px solid gray;
    max-height: fit-content;
    max-width: fit-content;
    text-align: center;
    margin-top: 10px;
}

.heading-element {
    margin: 10px;
    border: 2px solid gray;
}

.heading-element h1 {
    text-align: center;
    text-decoration: underline red;
    text-underline-offset: 5px;
    margin-bottom: 20px;
}

.frontend, .Backend, .cloud, .Freelance, .data {
    border: 2px solid lightgray;
    padding: 10px;
    margin: 5px;
    margin-left: 15px;
}

.frontend {
    width: 350px;
    grid-area: frontend;
}

.Backend, .data {
    width: 400px;
}

.Freelance{
    width: 350px;
}
.cloud{
    width: 300px;
}

.frontend h2, .Backend h2, .cloud h2, .Freelance h2, .data h2 {
    text-decoration: underline black;
    text-underline-offset: 2px;
    text-align: center;
}

.frontend h2 { color: #e63946; }
.Backend h2 { color: #254BDD; }
.cloud h2 { color: #ffbe0b; }
.Freelance h2 { color: #1d3557; }
.data h2 { color: #326998; }

.frontend button, .Backend button, .cloud button, .Freelance button, .data button {
    padding: 10px 7px;
    color: #fff;
    border: none;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
    text-align: center;
}

.frontend button { background-color: #e63946; }
.Backend button { background-color: #254BDD; }
.cloud button { background-color: #ffbe0b; }
.Freelance button { background-color: #1d3557; }
.data button { background-color: #326998; }

.project-elements {
    display: grid;
    grid-template-areas:
        'frontend Backend free'
        'data data cloud';
}